@font-face {
  font-family: 'Pliant';
  font-display: swap;
  src: url('/fonts/variable_fonts/pliant.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Stack_Text';
  font-display: swap;
  src: url('/fonts/variable_fonts/stack_sans_text.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Stack_Headline';
  font-display: swap;
  src: url('/fonts/variable_fonts/stack_sans_headline.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans';
  font-display: swap;
  src: url('/fonts/variable_fonts/ibm_plex_sans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  font-display: swap;
  src: url('/fonts/variable_fonts/geist.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fustat';
  font-display: swap;
  src: url('/fonts/variable_fonts/fustat.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  font-display: swap;
  src: url('/fonts/variable_fonts/geologica.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: 'Asta_Sans';
  font-display: swap;
  src: url('/fonts/variable_fonts/asta_sans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Flex';
  font-display: swap;
  src: url('/fonts/variable_fonts/roboto_flex.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Instrument Sans';
  font-display: swap;
  src: url('/fonts/variable_fonts/instrument_sans.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  font-display: swap;
  src: url('/fonts/variable_fonts/lexend.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  font-display: swap;
  src: url('/fonts/variable_fonts/figtree.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}


@font-face {
  font-family: 'Inter';
  font-display: swap;
  src: url('/fonts/variable_fonts/inter.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Google';
  font-display: swap;
  src: url('/fonts/variable_fonts/google_sans_flex.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-RegularItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-MediumItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/Fira_Sans/FiraSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IBM_Plex_Sans_Devanagari';
  src: url('/fonts/IBM_Plex_Sans_Devanagari/IBM_Plex_Sans_Devanagari-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}